<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex">
	<title>Vibez</title>
	<link href="https://fonts.googleapis.com/css?family=Trirong:200,300,400,500,600" rel="stylesheet">
	<link rel="stylesheet" href="./components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./components/owl.carousel/dist/assets/owl.carousel.css">
	<link rel="stylesheet" href="./components/owl.carousel/dist/assets/owl.theme.default.css">
	<link rel="stylesheet" href="./css/app.css">

	<script src="https://use.typekit.net/pdm4daq.js"></script>
	<script>try {Typekit.load({async: true});} catch (e) {}</script>
</head>
<body id="page-{{section}}">

<div class="root" >
	<header class="topHeader" data-sticky-container>
		<div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: small;">
			<div class="row">
				<div class="large-12 columns">
					<ul class="topMenu menu expanded hide-for-small-only">
						<li>&nbsp;</li>
						<li class="text-center">cover all london areas</li>
						<li class="text-right rightInfo">
							<a href="#" class="inlineblock"><i class="fa fa-envelope-o"></i> training.vibez@gmail.com</a>
							<a href="#" class="inlineblock"><i class="fa fa-phone"></i> +44 7544 912738</a>
						</li>
					</ul>

					{{#ifneq section 'ad'}}
						<ul class="mainMenu menu expanded hide-for-small-only">
							<li {{#ifeq section 'about'}} class="active" {{/ifeq}}><a href="/about">About</a></li>
							<li {{#ifeq section 'training'}} class="active" {{/ifeq}}><a href="/training">V'Methodology</a></li>
							<li {{#ifeq section 'therapy'}} class="active" {{/ifeq}}><a href="/therapy">Therapy</a></li>
							<li><a href="/" class="logo"><img src="./img/logo.png" alt="logo"></a></li>
							<li {{#ifeq section 'tennis'}} class="active" {{/ifeq}}><a href="/tennis">Tennis Academy</a></li>
							<li {{#ifeq section 'offer'}} class="active" {{/ifeq}}><a href="/offer">Offer</a></li>
							<li {{#ifeq section 'contact'}} class="active" {{/ifeq}}><a href="/contact">Contact</a></li>
						</ul>
					{{/ifneq}}

					{{#ifeq section 'ad'}}
						<ul class="mainMenu menu expanded hide-for-small-only">
							<li><a scroll-link href=".mainNote">Why Vibez</a></li>
							<li><a scroll-link href=".inclusivePack">What you get</a></li>
							<li><a href="#" class="logo"><img src="./img/logo.png" alt="logo"></a></li>
							<li><a scroll-link href=".trainers">Trainers</a></li>
							<li><a scroll-link href=".trialForm">Book now</a></li>
						</ul>
					{{/ifeq}}

					<div class="show-for-small-only logoBox">
						<a href="/"><img src="./img/logo.png" alt="logo"></a>
					</div>
					<div class="show-for-small-only menuBox">
						<button class="button" data-toggle="menuSmall">
							<i class="fa fa-lg fa-bars"></i>
						</button>
					</div>
					<div class="show-for-small-only adrArea">
						<span class="tel">0754425626</span>
						<span class="mail">vibez@london.com</span>
					</div>
					<span class="clearfix show-for-small-only"></span>
					<div class="show-for-small-only menuSmall hide" id="menuSmall" data-toggler=".hide">
						{{#ifneq section 'ad'}}
							<ul class="menu vertical">
								<li {{#ifeq section 'about'}} class="active" {{/ifeq}}><a href="/about">About</a></li>
								<li {{#ifeq section 'training'}} class="active" {{/ifeq}}><a href="/training">Personal Training</a></li>
								<li {{#ifeq section 'therapy'}} class="active" {{/ifeq}}><a href="/therapy">Therapy</a></li>
								<li {{#ifeq section 'tennis'}} class="active" {{/ifeq}}><a href="/tennis">Tennis Academy</a></li>
								<li {{#ifeq section 'offer'}} class="active" {{/ifeq}}><a href="/offer">Offer</a></li>
								<li {{#ifeq section 'contact'}} class="active" {{/ifeq}}><a href="/contact">Contact</a></li>
							</ul>
						{{/ifneq}}

						{{#ifeq section 'ad'}}
							<ul class="menu vertical">
								<li><a scroll-link href=".bodyTransformations">Why Vibez</a></li>
								<li><a scroll-link href=".inclusivePack">What you get</a></li>
								<li><a scroll-link href=".trainers">Trainers</a></li>
								<li><a scroll-link href=".colage">V'Methodology</a></li>
							</ul>
						{{/ifeq}}
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
		</div>
	</header>

	{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
			{{/if}}
			{{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
			{{/if}}
			{{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
			{{/if}}
			{{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
			{{/if}}
		</div>
	{{/if}}
	{{{body}}}

	<div class="reveal large" id="privacyPolicy" data-reveal>
		<button class="close-button" data-close aria-label="Close reveal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
		<section class="privacyPolicy">
			<div class="row">
				<div class="columns content">
					<div class="columns medium-12">
						<h1>Privacy Policy</h1>
						<h5>created to develop attractive, <br>strong and vigorous body. </h5>
						<p class="margin-top-60">It is a unique blend of science, individualization and experience. V'System visibly reinforces, improves and totally changes human body. Moreover it sets up a successful attitude which is crucial for long term results. </p>
						<p>Supreme development program includes physical conditioning, sport psychology, physiotherapy and nutrition consulting. Each improvement plan is personalized to suit individual requirements. </p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer class="bottomFooter">
		<div class="row">
			<div class="columns text-center">
				<div class="footer-links">
					*DISCLAIMER | Results may vary | Results are based on individual circumstances <br>
					<a href="#" data-open="privacyPolicy">Privacy Policy</a> <br>
					© Vibez 2016 | City of London
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="./components/jquery/dist/jquery.js"></script>
<script src="./components/owl.carousel/dist/owl.carousel.js"></script>
<script src="./components/what-input/what-input.js"></script>
<script src="./components/foundation-sites/dist/foundation.js"></script>
<script src="./components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
<script src="./js/app.js"></script>
</body>
</html>
