@import "variables";

@for $i from 0 through 10 {
  .padding-top-#{$i * 10} {  padding-top: 10px * $i; }
  .padding-bottom-#{$i * 10} {  padding-bottom: 10px * $i; }
  .padding-left-#{$i * 10} {  padding-left: 10px * $i; }
  .padding-right-#{$i * 10} {  padding-right: 10px * $i; }
  .margin-top-#{$i * 10} {  margin-top: 10px * $i; }
  .margin-bottom-#{$i * 10} {  margin-bottom: 10px * $i; }
  .margin-left-#{$i * 10} {  margin-left: 10px * $i; }
  .margin-right-#{$i * 10} {  margin-right: 10px * $i; }

  .padding-#{$i * 10} {  padding: 10px * $i; }
  .margin-#{$i * 10} {  margin: 10px * $i; }
}
@for $i from 0 through 9 {
  .opacity-#{$i} {  opacity: $i/10 }
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nooverflow {
  overflow: visible;
}

.inline {
  display: inline;
}
.inlineblock {
  display: inline-block;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
}
