$white: #fff;
$black: #16161a;
$red: #e3000f;

$textFont : 'filson-pro', Helvetica, sans-serif;
$baseFont: $textFont;
$headerFont: "essonnes-headline", serif;
$headerFontDisplay: "essonnes-display", serif;
$headerFontHeadline: "essonnes-headline", serif;
$headerFontText: "essonnes-text", serif;

$headerFontTrirong: 'Trirong', serif;