@import 'variables';
@import 'helpers';

@mixin headerText ($size, $weight: 400, $type: 'headline', $transform: uppercase) {
  font-size: $size;
  line-height: 1;
  font-weight: $weight;
  text-transform: $transform;
  font-family: "essonnes-#{$type}", serif;
}

@mixin text ($size: 14px, $lineHeight: 1.2, $weight: 400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
  font-family: $headerFontTrirong;
}

@mixin splat ($deg:0) {
  position: absolute;
  content: '';
  background: {
    image: url("../img/tocka.png");
    position: 50% 50%;
    repeat: no-repeat;
  }
  width: 417px;
  height: 472px;
  transform: rotate($deg);
  z-index: -1 ;
  opacity: .7;
  @include breakpoint(small only) {
	//display: none;
  }
}

@mixin section (
  $padding: 0,
  $h1size: 72px,
  $h1type: 'headline',
  $h1weight: 400,
  $h4size: 24px
) {
  position: relative;
  > .row > .columns {
    padding: $padding;
    border: {
      width: 0 1px;
      style: solid;
      color: rgba($black, 0);
    }
	@include breakpoint(small only) {
	  //border-width: 0;
	}
  }
  h1 {
    @extend .nowrap;
    @include headerText(
      $size: $h1size,
      $type: $h1type,
      $weight: $h1weight
    );
    text-align: center;
  }
  h4 {
    @include headerText(
      $size: $h4size,
      $type: 'display',
      $weight: 300
    );
    text-align: center;
    letter-spacing: 1px;
  }
}

@mixin sectionTop ($headerWidth) {
  @include section($padding: 60px 0);
  > .row > .columns {
    border-top-width: 1px;
    margin-top: 400px;
	@include breakpoint(small only) {
	  border-width: 0;
	}
  }
  .image {
    text-align: center;
    padding-left: 0;
    margin-top: -456px;
    img, h2 {
      display: inline-block;
      position: relative;
      z-index: 2;
    }
    h2 {
      vertical-align: bottom;
      margin-bottom: 180px;
      @extend .nowrap;
      @include headerText(
              $size: 48px,
              $weight: 300,
              $type: 'display'
      );
      text-align: center;
      position: relative;
    }
    span.bkg {
      position: absolute;
      background: $white;
      display: block;
      width: $headerWidth;
      height: 25px;
      left: 50%;
      margin-left: -($headerWidth / 2);
      bottom: 252px;
      border: {
        width: 0 1px;
        style: solid;
        color: rgba($black, .2);
      }
    }
  }
}

@mixin specialButton() {
  padding: 10px 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $red;
  font-weight: 300;
  border-color: rgba($red, .4);
  background-color: rgba($red, .1);
  &:hover {
    border-color: $red;
    color: $white;
    background-color: rgba($red, 1);
  }
}

@mixin modal(
  $width: 70%
) {
  width: 70%;
  box-shadow: 0 0 50px rgba($black, .6);
  //> .close-button {
	//position: absolute;
	//top:;
  //}
  @include breakpoint(small only) {
	width: 100%;
  }
  > section {
	margin-top: 10px;
	> .row > .columns {
	  border-width: 0;
	}
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: $baseFont;
  font-size: 12px;
  color: $black;
  overflow-x: hidden;
  max-width: 100%;
  > .root {
	max-width: 100%;
	overflow: hidden;
	@include breakpoint(small only) {
	  padding: 0;
	}
  }
}

header.topHeader {
  font-family: $headerFontTrirong;
  //transform: translate3d(0,0,0);
  div.sticky {
    width: 100%;
    z-index: 15;
  	//transform: translate3d(0,0,0);
    &.is-stuck {
      background-color: rgba($white, .8);
      box-shadow: 0 0 30px $white;
      .topMenu {
        padding: 0;
      }
      .logo {
        padding: 0;
      }
    }
  }
  .topMenu {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
    font-weight: 300;
	font-size: 10px;
	.rightInfo {
	  padding-bottom: 10px;
	  background: {
		image: url('../img/6_gold-line-slim.png');
		repeat: no-repeat;
		position: 0 150%;
	  };
	}
    li a {
      display: inline-block;
      color: $black;
	  font-size: 13px;
	  letter-spacing: 0;
      &:last-child {
        margin-right: -1rem;
      }
      i.fa {
        color: rgba($red, .6);
      }
    }
  }

  .mainMenu {
    text-align: center;
    font-weight: 300;
    .logo {
      padding: 10px 0;
    }
	li.active {
	  > a {
	  	background: {
		  color: transparent;
		  image: url("../img/6_gold-line-slim.png");
		  repeat: no-repeat;
		  position: 50% 18px;
		}
	  }
	}
    li a {
      color: $black;
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 16px;
      padding: 0.7rem 0;
    }
  }
  @include breakpoint(small only) {
	margin: 0;
	div.sticky, div.sticky.is-stuck {
	  background-color: rgba($white, .97);
	  .logoBox {
		margin: 15px 0;
		float: none;
		text-align: center;
		img {
		  max-height: 50px;
		}
	  }
	}
	div.sticky.is-stuck {
	  .logoBox {
		img {
		  max-height: 40px;
		}
	  }
	  .adrArea {
		top: 10px;
	  }
	  .menuBox {
		top: 15px;
	  }
	}
	.menuBox {
	  position: absolute;
	  top: 20px;
	  left: 10px;
	  button.button {
		background-color: transparent;
		color: rgba($black, .4);
		border-color: transparent;
	  }
	}
	.adrArea {
	  position: absolute;
	  top: 15px;
	  right: 5px;
	  font-size: 14px;
	  background: {
		image: url('../img/sws1Small.png');
		repeat: no-repeat;
		position: 50% 50%;
		size: contain;
	  }
	  span {
		display: block;
		text-align: center;
		&.tel {
		  font-size: 16px;
		  margin-bottom: 0px;
		}
	  }
	}
	.menuSmall {
	  a {
		color: $black;
		font-size: 16px;
		line-height: 1;
		font-family: $headerFontTrirong;
		text-align: center;
	  }
	  li.active a {
		background-color: $red;
		color: $white;
	  }
	}
  }
}
footer.bottomFooter {
  padding: 1rem 0;
  text-align: center;
  font-size: 10px;
  font-family: $headerFontTrirong;
  a {
	color: $black;
  }
  .footer-links {
	a {
	  padding: 0 .5rem;
	}
  }
}

#flash-messages {
  text-align: center;
  margin-top: 60px;
  color: red;
}

// 1. top section
section.top {
  position: relative;
  &:after {
    @include splat();
    content: '';
    top: -130px;
    right: -170px;
	@include breakpoint(small only) {
	  width: 200px;
	  height: 200px;
	  background-size: contain;
	  top: -50px;
	}
  }
  &:before {
    @include splat();
    content: '';
    bottom: 0px;
    left: -190px;
	@include breakpoint(small only) {
	  width: 200px;
	  height: 200px;
	  background-size: contain;
	  left: -160px;
	  bottom: -100px;
	}
  }
  .columns {
    position: relative;
  }
  .image {
    padding-left: 0;
  }
  .slug {
    position: absolute;
    top: 150px;
    right: 80px;
    h1 {
      @extend .nowrap;
      @include headerText(
        $size: 90px
      );
      text-align: center;
    }
    h4 {
      @extend .nowrap;
      @include headerText(
        $size: 27px,
        $type: 'display',
        $weight: 300
      );
      margin-left: 20px;
      text-align: center;
      letter-spacing: 17px;
    }
    h5 {
      @include headerText(
        $size: 16px,
        $type: 'display'
      );
      text-align: center;
      letter-spacing: 3px;
      margin: 18px 0;
      span {
        border-top: 1px solid rgba($black, .3);
        padding: 4px;
      }
    }
	ul {
	  margin-top: 40px;
	  li {
		margin: 0 0 20px;
		padding: 0 0 0 20px;
		list-style: none;
		font-size: 18px;
		letter-spacing: .3px;
		line-height: 21px;
		font-family: $headerFontTrirong;
		background: {
		  image: url('../img/tri1.png');
		  repeat: no-repeat;
		  position: 0 50%;
		}
	  }
	}
  }
  @include breakpoint(small only) {
	.image {
	  padding: 0;
	}
	.slug {
	  position: relative;
	  top: auto;
	  right: auto;
	  margin-top: -150px;
	  h1 {
		font-size: 72px;
		white-space: normal;
	  }
	  h4 {
		font-size: 16px;
		letter-spacing: 5px;
		margin: 0;
	  }
	  h5 {
		font-size: 14px;
	  }
	}
  }
}

// 2. form section
section.trialForm {
  @include section($h1size: 36px);
  position: relative;
  margin-top: 25px;
  padding-top: 20vh;
  padding-bottom: 20vh;
  overflow: hidden;
  > .row > .columns {
    border-width: 1px 1px 0;
	border-color: rgba($black, .2);
    padding-bottom: 0;
	position: relative;
  }
  .thanksC {
	text-align: center;
	margin-top: 60px;
	font-family: "essonnes-display",serif;
	color: green;
  }
  video {
	max-width: 100%;
	width: 100%;
	opacity: .4;
	position: absolute;
	top: 0;
	bottom: 0;
  }
  h1.mainHead {
    @extend .nowrap;
    @include headerText(
      $size: 48px,
      $weight: 300,
      $type: 'display'
    );
    text-align: center;
    position: relative;
    margin-top: -25px;
    letter-spacing: 16px;
	@include breakpoint(small only) {
	  padding-bottom: 10px;
	  &:after {
		content: '';
		//border-top: 1px solid rgba($red, 1);
		background: {
		  image: url('../img/6_gold-line.png');
		  position: 50% 50%;
		};
		width: 220px;
		height: 2px;
		left: 50%;
		top: 25px;
		margin-left: -110px;
		position: absolute;
		display: block;
		z-index: 6;
	  }
	}
	font-weight: 400;
    span {
      background-color: $white;
      padding: 0 10px;
      position: relative;
      &:after {
        content: '';
        border-right: 1px solid;
        height: 25px;
        position: absolute;
        top: 23px;
        right: 0;
        opacity: .2;
      }
      &:before {
        content: '';
        border-right: 1px solid;
        height: 25px;
        position: absolute;
        top: 23px;
        left: 0;
        opacity: .2;
      }
    }
  }
  .pointHead {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid rgba($black, .15);
	margin-left: 0;
	h5, span {
	  font-family: $headerFontTrirong;
	}
	span {
	  padding-left: 30px;
	  display: inline-block;
	  position: relative;
	  font-size: 18px;
	  text-transform: uppercase;
	  &:nth-child(2) {
		padding-left: 0;
		&:before {
		  display: none;
		}
	  }
	  &:before {
		content: '';
		position: absolute;
		left: 12px;
		width: 6px;
		height: 6px;
		top: 10px;
		background-color: $black;
		transform: rotate(45deg);
	  }
	}
	h5.bot {
	  margin-bottom: -15px;
	}
  }

  .now {
    @extend .nowrap;
    @include headerText(
      $size: 48px,
      $weight: 300,
      $type: 'display'
    );
    text-align: right;
    position: absolute;
    transform: rotate(-90deg);
    display: inline-block;
    top: -5px;
    right: 15px;
    transform-origin: right;
    z-index: 3;
  }
  .bookLine {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 15px;
      width: 300px;
      height: 40px;
      background: {
        image: url('../img/swash1.png');
        repeat: no-repeat;
        size: contain;
        position: 50% 50%;
      }
    }
  }
  .splatCol {
    &:after {
      content: '';
      position: absolute;
      width: 120px;
      height: 280px;
      top: -20px;
      right: -20px;
      background: {
        image: url('../img/splats1.png');
        repeat: no-repeat;
        size: contain;
        position: 50% 50%;
      }
    }
  }
  h4.yesterday {
    font-family: $textFont;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 12px;
    padding-left: 10px;
  }
  .sendButton {
    @include specialButton();
    margin-right: 50px;
    position: relative;
    z-index: 3;
    border-color: rgba($black, 1);
    color: $black;
    background-color: transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 3px;
	&:focus {
	  background: {
		color: transparent;
	  };
	  border: 1px solid $red;
	  color: $red;
	}
  }
  .formCol {
	margin-top: 20px;
  }
  @include breakpoint(small only) {
	margin: 0 1rem;
	padding-top: 60px;
	padding-bottom: 60px;
	> .row > .columns {
	  padding-bottom: 0;
	  margin-bottom: 3rem;
	  border-bottom-width: 1px;
	  .pointHead {
		margin-bottom: -10px;
	  }
	}
	video {
	  display: none;
	}
	h1.mainHead {
	  margin-top: -12px;
	  font-size: 22px;
	  letter-spacing: 1px;
	  span {
		&:before, &:after {
		  //display: none;
		  top: 9px;
		  height: 15px;
		}
	  }
	}
	.formCol {
	  margin-top: 0;
	  padding: 0 2rem;
	  input, label {
		margin-bottom: 0;
	  }
	  label {
		padding-top: 1rem;
		padding-bottom: 0 ;
	  }
	}
	h4.yesterday {
	  padding: 0;
	  font-size: 16px;
	  letter-spacing: 6px;
	}
	.bookLine {
	  text-align: center;
	  .sendButton {
		margin: 20px auto;
		display: inline-block;
		float: none !important;
		&:focus {
		  background: {
			color: transparent;
		  };
		  border: 1px solid $red;
		  color: $red;
		}
	  }
	}
	h5 {
	  font-size: 14px;
	  margin-bottom: 0;
	}
	.pointHead {
	  border-bottom: 0;
	  span {
		font-size: 14px;
		&:before {
		  top: 7px;
		}
	  }
	  h5.bot {
		margin-bottom: 10px;
	  }
	}
  }
}

// 3. colage
section.colage {
  //height: 400px;
  text-align: center;
  margin-top: 200px;
  @include section($padding: 0, $h1size: 60px, $h1type: 'display', $h1weight: 300);
  .slug {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -70px;
    h4 {
      margin-bottom: 15px;
    }
    h1 {
      letter-spacing: 10px;
    }
  }
  @include breakpoint(small only) {
	margin: 0 -1.5rem 1.5rem;
	padding-bottom: 1.5rem;
	img {
	  height: auto;
	  display: block;
	}
	.slug {
	  margin-top: 0;
	  top: 0;
	  h4 {
		font-size: 14px;
		margin: 0;
		margin-top: 35px;
	  }
	  h1 {
		font-size: 18px;
		margin: 0;
		letter-spacing: 2px;
	  }
	}
  }
}

// 4. main note
section.mainNote {
  @include section($padding: 120px 0, $h1size: 36px, $h1type: 'display', $h1weight: 300);
  &:before {
    @include splat(30deg);
    content: '';
    top: 0;
    left: -170px;
	@include breakpoint(small only) {
	  width: 200px;
	  height: 200px;
	  background-size: contain;
	  top: -50px;
	  left: -150px;
	}
  }
  &:after {
    @include splat(-20deg);
    content: '';
    bottom: -100px;
    right: -180px;
	@include breakpoint(small only) {
	  width: 200px;
	  height: 200px;
	  background-size: contain;
	  right: -130px;
	  bottom: -160px;
	}
  }
  h1 {
	line-height: 1.3;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
	font-size: 18px;
  }
  .content {
    @include text();
    position: relative;
    text-align: center;
    padding-top: 40px;
    letter-spacing: .5px;
    &:before {
      content: '';
      //border-top: 1px solid rgba($red, 1);
      background: {
        image: url('../img/6_gold-line-slim.png');
        position: 50% 50%;
      };
      width: 600px;
      height: 15px;
      left: 50%;
      top: -6px;
      margin-left: -300px;
      position: absolute;
      display: block;
    }
    p {
      line-height: 18px;
    }
  }
  .signature {
	margin-right: 60px;
	max-width: 120px;
  }
  .moreButton {
    @include specialButton();
    background-color: transparent;
    border-color: rgba($black, .2);
    color: $black;
    &:hover {
      border-color: $black;
      background-color: transparent;
      color: $black;
    }
    font-size: 13px;
    padding: 7px 40px;
  }
  @include breakpoint(small only) {
	> .row > .columns {
	  padding-top: 0;
	  padding-bottom: 0;
	  border: 0;
	  h1 {
		font-size: 21px;
		font-weight: 400;
		font-family: $headerFontDisplay;
		border-top: 0;
		white-space: normal;
		padding-top: 10px;
		padding-bottom: 5px;
		border-bottom: 0px solid rgba($black, .2);
		margin-bottom: 0;
	  }
	  h4 {
		font-size: 14px;
		margin: 30px 0;
		font-weight: 300;
	  }
	}
	.content {
	  &:before {
		width: 280px;
		margin-left: -140px;
		display: none;
	  }
	  font-size: 14px;
	  padding-top: 10px;
	  p {
		line-height: 1.3;
	  }
	}
	.signature {
	  margin: 0 30px 20px;
	  max-width: 100px;
	}
	.testim {
	  text-transform: uppercase;
	  color: $black;
	  font-size: 14px;
	  font-family: $headerFontTrirong;
	  margin-top: 10px;
	  text-decoration: underline;
	}
  }
}

#discMore {
  @include modal();
  > section {
	&:before {
	  display: none;
	}
  }
}

// 5. Body transformation
section.bodyTransformations {
  @include section($padding: 0);
  background: {
    image: url('../img/bodytransform.png');
    repeat: no-repeat;
    position: 50% 50%;
    size: contain;
  };
  > .row > .columns {
    height: 400px;
  }
}

section.testimonials {
  @include text;
  .special {
	display: block;
	text-align: center;
	margin-top: 20px;
	a {
	  display: inline-block;
	  margin: 0 auto;
	  color: $black;
	  text-transform: uppercase;
	  border-bottom: 1px solid;
	}
  }
  .person {
	padding: 0 30px;
	text-align: center;
	&.second {
	  margin-top: 100px;
	}
	img {
	  border-radius: 50%;
	  max-width: 100px;
	  display: inline-block;
	  margin-bottom: 20px;
	}
	p {
	  text-align: left;
	}
  }
}

// 6. all inclusive pack
section.inclusivePack {
  @include section($padding: 20px 0 0 0, $h1size: 36px, $h4size: 24px, $h1type: 'display', $h1weight: 300);
  //margin-top: 100px;
  &:before {
	display: none;
    border-left: 1200px solid $black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
  }
  &:after {
    border-right: 1200px solid $black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    bottom: 60px;
	display: none;
  }
  h2 {
    @extend h1;
    font-family: $headerFontDisplay;
    font-weight: 300;
    font-size: 36px;
  }
  h5 {
    text-align: center;
    font-family: $headerFontDisplay;
    font-size: 24px;
	font-weight: 300;
  }

  ul {
    font-size: 16px;
    font-family: $headerFontTrirong;
    list-style: none;
    &.ulleft {
      //margin-left: 10px;
    }
    &.ulright {
      //margin-left: 30px;
    }
    li {
      margin-bottom: 10px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: -20px;
        width: 6px;
        height: 6px;
        top: 10px;
        background-color: $black;
        transform: rotate(45deg);
      }
    }
  }
  .pointHead {
	position: relative;
	margin-top: -10px;
	margin-bottom: 20px;
	h5, span {
	  font-family: $headerFontTrirong;
	}
	span {
	  padding-left: 30px;
	  display: inline-block;
	  position: relative;
	  font-size: 18px;
	  text-transform: uppercase;
	  &:nth-child(1) {
		padding-left: 0;
		&:before {
		  display: none;
		}
	  }
	  &:before {
		content: '';
		position: absolute;
		left: 12px;
		width: 6px;
		height: 6px;
		top: 10px;
		background-color: $black;
		transform: rotate(45deg);
	  }
	}
  }
  @include breakpoint (small only) {
	&:before {
	  border-left-width: 95vw;
	  border-top-width: 5px;
	  border-bottom-width: 5px;
	  margin-left: -1.5rem;
	}
	&:after {
	  border-right-width: 95vw;
	  border-top-width: 5px;
	  border-bottom-width: 5px;
	  margin-right: -1.5rem;
	}
	> .row > .columns {
	  border-width: 0;
	}
	h1 {
	  font-size: 32px;
	  white-space: normal;
	  font-weight: 400;
	}
	h2 {
	  font-size: 24px;
	  position: relative;
	  margin-top: -10px;
	  line-height: 34px;
	  &:before {
		content: '—';
		position: absolute;
		left: 20px;
		top: 12px;
		display: none;
	  }
	  &:after {
		content: '—';
		position: absolute;
		right: 20px;
		top: 12px;
		display: none;
	  }
	}
	h5 {
	  font-size: 20px;
	  white-space: normal;
	  margin-top: 0px;
	}
	.ulleft, .ulright {
	  margin-left: 2rem;
	  font-size: 16px;
	  li {
		margin-bottom: 5px;
	  }
	}
	.stars {
	  margin-bottom: 10px;
	  img {
		max-width: 50%;
	  }
	}
	.pointHead {
	  margin-top: 20px;
	  margin-bottom: 10px;
	}
	ul {
	  font-size: 16px;
	}
  }
}

// 6.1 recomendations
section.recomendations {
  @include section($padding: 0 0 50px, $h4size: 24px);
  margin-top: 30px;
  > .row > .columns {
	border-width: 0;
  }
  h4 {
	text-align: center;
	margin-bottom: 20px;
  }
  .single-recomendation {
	img {
	  max-width: 130px;
	  border-radius: 50%;
	  display: block;
	  margin: 0 auto;
	}
	p {
	  font-size: 14px;
	  font-family: $headerFontTrirong;
	  margin-top: 20px;
	  padding: 0 30px;
	  line-height: 18px;
	  text-align: center;
	}
  }
}

// 7. steps
section.steps {
  @include section($padding: 120px 0 60px, $h1size: 36px, $h1type: 'display', $h1weight: 300);
  &:before {
	@include splat(30deg);
	content: '';
	top: -200px;
	left: -230px;
	@include breakpoint(small only) {
	  width: 200px;
	  height: 200px;
	  background-size: contain;
	  top: -120px;
	  left: -150px;
	}
  }
  // body > section.steps > div > div > div > div > div > div:nth-child(2)
  .splatCol {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 120px;
      height: 180px;
      top: 60px;
      right: 0px;
      background: {
        image: url('../img/splats1.png');
        repeat: no-repeat;
        size: contain;
        position: 50% 50%;
      }
    }
	&:nth-child(2):after {
	  background-image: url('../img/splats12.png');
	  top: -40px;
	  right: -40px;
	  width: 308px;
	  height: 281px;
	}
	&:nth-child(3):after {
	  background-image: url('../img/splats13.png');
	  top: -30px;
	  width: 333px;
	  height: 242px;
	  right: -30px;
	}
  }
  .number {
    h1 {
      font-family: $headerFontDisplay;
      font-size: 140px;
      display: inline-block;
      line-height: 105px;
      margin: 0;
      font-weight: 300;
      position: relative;
      padding: 0 20px;
      overflow: visible;
      &:after {
        content: '';
        position: absolute;
        top: -20px;
        bottom: -20px;
        left: 0;
        right: 0;
        z-index: -1;
        background: {
          image: url('../img/numDiamond.png');
          position: 50% 50%;
          size: contain;
          repeat: no-repeat;
        }
      }
    }
    h1 + div {
      font-family: $headerFontTrirong;
      display: inline-block;
      font-size: 24px;
      line-height: 1;
      text-align: left;
	  position: relative;
	  z-index: 3;
    }
    &.number-1 {
      h1 {
        padding: 0 25px 0 15px;
      }
    }
  }
  @include breakpoint (small only) {
	> .row > .columns {
	  padding: 30px 0;
	  border-width: 0;
	  > h1 {
		margin-bottom: -40px;
		font-size: 24px;
		white-space: normal;
	  }
	}
	.number {
	  padding-left: .5rem;
	  white-space: nowrap;
	}
	.splatCol {
	  margin-bottom: 30px;
	  text-align: left;
	  h1 {
		font-size: 90px;
		width: 80px;
		padding: 0 10px;
	  }
	  h1 + div {
		font-size: 16px;
	  }
	  &:nth-child(2):after {
		top: -60px;
		right: -80px;
		display: none;
	  }
	}
	.bookLine {
	  position: relative;
	  min-height: 400px;
	  background: {
		image: url("../img/swash1-90deg.png");
		position: -5px 50%;
		repeat: no-repeat;
		size: contain;
	  }
	}
	.sendButton {
	  @include specialButton();
	  position: absolute;
	  padding: 6px 90px;
	  bottom: 10%;
	  left: 0;
	  z-index: 3;
	  border-color: rgba($black, 1);
	  color: $black;
	  background-color: transparent;
	  letter-spacing: 3px;
	  transform: rotate(-90deg);
	  transform-origin: top left;
	  &:focus {
		background: {
		  color: transparent;
		};
		border: 1px solid $red;
		color: $red;
	  }
	}
  }
}

// 8. trainers
section.trainers {
  @include section($padding: 120px 0, $h1size: 36px, $h1type: 'display', $h1weight: 300);
  background-color: rgba($black, .07);
  &:after {
	@include splat(-20deg);
	content: '';
	top: -240px;
	right: -170px;
  }
  h1 {
	margin-bottom: 0;
  }
  p.slug {
    font-size: 14px;
    line-height: 18px;
    font-family: $headerFontTrirong;
    letter-spacing: .5px;
    margin: 10px 0 20px;
    text-align: center;
    padding: 0 200px;
    font-weight: 400;
  }
  .trainer {
    padding: 0 30px;
    text-align: center;
    h3 {
      @extend h1;
      font-size: 24px;
      margin-top: 15px;
      margin-bottom: 0;
    }
    h5 {
      @extend h1;
	  font-family: $headerFontTrirong;
      font-size: 18px;
      text-transform: none;
      line-height: 1;
      white-space: normal;
      margin-top: 0;
	  &.listHead {
		margin-top: 15px;
		margin-bottom: 0;
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: .5px;
	  }
    }
	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  li {
		font-size: 14px;
		font-family: $headerFontTrirong;
		position: relative;
		i.fa {
		  position: absolute;
		  margin-left: -12px;
		  font-size: 6px;
		  margin-top: 8px;
		}
	  }
	}
  }
  .slugs {
    margin-top: 50px;
    h5 {
      margin-bottom: 20px;
      @extend h1;
      font-size: 22px;
      &:before {
        content: '—';
        margin-right: 5px;
      }
      &:after {
        content: '—';
        margin-left: 5px;
      }
    }
  }
  @include breakpoint(small only) {
	> .row > .columns {
	  border-width: 0;
	  padding: 40px 0;
	  border-top: 0px solid rgba($black, .2);
	  border-bottom: 0px solid rgba($black, .2);
	  margin-bottom: 60px;
	}
	h1 {
	  font-size: 24px;
	  font-weight: 400;
	  white-space: normal;
	  line-height: 1.2;
	  margin-bottom: 15px;
	}
	p.slug {
	  font-size: 14px;
	  line-height: 18px;
	  padding: 0 2rem;
	}
	.trainer {
	  margin-bottom: 60px;
	  h3 {
		font-size: 24px;
		margin-top: 10px;
		margin-bottom: 0;
	  }
	  h5 {
		font-size: 18px;
		margin-top: 10px;
	  }
	  &:last-child {
		margin-bottom: 0;
	  }
	}
	.slugs {
	  margin-top: 30px;
	  h5 {
		&:after {
		  display: none;
		}
		&:before {
		  display: block;
		  margin-right: 0;
		  margin-left: 0;
		}
		font-size: 18px;
		margin-bottom: 0;
		&:first-child {
		  &:before {
			display: none;
		  }
		}
	  }
	}
	&:after {
	  display: none;
	}
	h5.trare {
	  text-align: center;
	  font-family: $headerFontTrirong;
	  position: relative;
	  margin-top: 60px;
	  margin-bottom: 0px;
	  &:after {
		content: '';
		background-image: url("../img/6_gold-line.png");
		background-position: 50% 50%;
		width: 120px;
		height: 1px;
		left: 50%;
		top: 25px;
		margin-left: -60px;
		position: absolute;
		display: block;
		z-index: 6;
	  }
	}
  }
}

// 8.1 trust
section.trust {
  @include section($padding: 0, $h1size: 24px, $h1type: 'display', $h1weight: 300);
  text-align: center;
  > .row > .columns {
	border-width: 0;
  }
  h1 {
	margin-bottom: 15px;
	position: relative;
	overflow: visible;
	&:after {
	  content: '';
	  background-image: url("../img/6_gold-line.png");
	  background-position: 50% 50%;
	  width: 160px;
	  height: 1px;
	  left: 50%;
	  top: 25px;
	  margin-left: -80px;
	  position: absolute;
	  display: block;
	  z-index: 6;
	}
  }
  p {
	padding: 0 30px;
	font-size: 14px;
	line-height: 18px;
	font-family: $headerFontTrirong;
  }
}

// 9. packages
section.packages {
  @include section($padding: 20px 0 0, $h1size: 36px, $h1type: 'display', $h1weight: 300, $h4size: 24px);
  &.secondPackages {
	border-bottom: 1px solid rgba($black, .2);
	margin-bottom: 50px;
	padding-bottom: 0;
	&:before {
	  @include splat(70deg);
	  content: '';
	  top: -200px;
	  left: -180px;
	  @include breakpoint(small only) {
		width: 200px;
		height: 200px;
		background-size: contain;
		top: -120px;
		left: -150px;
	  }
	}
	&:after {
	  @include splat(-40deg);
	  content: '';
	  bottom: -200px;
	  right: -170px;
	  @include breakpoint(small only) {
		width: 200px;
		height: 200px;
		background-size: contain;
		bottom: 0px;
		right: -150px;
	  }
	}
	h4 {
	  font-size: 36px;
	  font-weight: 300;
	  margin-bottom: -20px;
	  span {
		display: inline-block;
		background-color: $white;
	  }
	}

	.bookLine {
	  position: relative;
	  margin-bottom: -60px;
	  @include breakpoint(small only) {
		margin-top: -30px;
		margin-bottom: 30px;
		padding-bottom: 70px;
	  }
	  &:after {
		content: '';
		position: absolute;
		left: 50%;
		margin-left: -140px;
		top: 30px;
		width: 300px;
		height: 40px;
		background: {
		  image: url('../img/swash1.png');
		  repeat: no-repeat;
		  size: contain;
		  position: 50% 50%;
		}
	  }
	}
	.sendButton {
	  @include specialButton();
	  position: absolute;
	  left: 50%;
	  margin-left: -100px;
	  top: 15px;
	  z-index: 3;
	  border-color: rgba($black, 1);
	  color: $black;
	  background-color: transparent;
	  padding-top: 6px;
	  padding-bottom: 6px;
	  letter-spacing: 3px;
	  &:focus {
		background: {
		  color: transparent;
		};
		border: 1px solid $red;
		color: $red;
	  }
	}

	h5.sub {
	  text-transform: none;
	  font-size: 22px;
	  line-height: 1.2;
	  &:after, &:before {
		display: none;
	  }
	}

	> .row > .columns.hide-for-small-only {
	  border-bottom-width: 1px;
	}
	@include breakpoint(small only) {
	  > .row > .columns {
		border-width: 0;
	  }
	  h4 {
		font-size: 24px;
		margin-bottom: 30px;
		margin-top: 30px;
	  }
	  h1 {
		//&:before {
		//  content: "—"
		//}
		//&:after {
		//  content: '—';
		//}
		margin-bottom: 0;
		font-size: 24px;
	  }
	  h5.sub {
		font-family: $headerFontTrirong;
		font-size: 14px;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 0;
		text-transform: none;
		&:before, &:after {
		  display: none;
		}
	  }
	  div.labelBig {
		text-align: center;
		font-family: $headerFontTrirong;
		position: relative;
		margin-top: 20px;
		margin-bottom: 40px;
		font-size: 16px;
		&:after {
		  content: '';
		  background-image: url("../img/6_gold-line.png");
		  background-position: 50% 50%;
		  width: 120px;
		  height: 1px;
		  left: 50%;
		  top: 25px;
		  margin-left: -60px;
		  position: absolute;
		  display: block;
		  z-index: 6;
		}
	  }
	}
  }
  h1 {
    margin-bottom: 60px;
  }
  h5 {
    //margin-bottom: 30px;
    @extend h1;
    font-size: 24px;
    &:before {
      content: '—';
      margin-right: 5px;
    }
    &:after {
      content: '—';
      margin-left: 5px;
    }
    &.topheader {
      margin-bottom: 30px;
    }
    &.bottomheader {
      margin-top: 30px;
    }
  }
  .packs {
    text-align: center;
    img {
      display: inline-block;
      max-width: 200px;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .pack {
    width: 220px;
	min-height: 230px;
    border: {
      width: 8px 1px 1px 1px;
      style: solid;
      color: $black;
    }
    border-radius: 3px;
    font-family: $headerFontText;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 40px;
    header {
      @extend .nowrap;
      margin: 0 8px;
      border-bottom: 1px solid;
    }
    article {
      margin: 20px 0 40px;
      span, strong, small {
        display: block;
        line-height: 1.3;
        text-transform: uppercase;
      }
      strong {
        font-size: 30px;
        font-weight: 400;
      }
      small {
        font-size: 14px;
        font-weight: 400;
        em {
          font-size: 30px;
          font-weight: 500;
          font-style: normal;
        }
      }
    }
  }
  img {
    border: 5px solid $black;
  }
  @include breakpoint (small only) {
	> .row > .columns {
	  padding: 0;
	}
	.topheader, .bottomheader {
	  white-space: normal;
	  &:before, &:after {
		display: block;
		margin-right: 0;
		margin-left: 0;
	  }
	}
	.packs {
	  img {
		margin-right: 0;
		margin-bottom: 20px;
	  }
	}
	.pack {
	  margin-bottom: 0;
	  margin-top: 40px;
	}
  }
}


//  PAGE ABOUT
#page-about {
  section.top {
    @include sectionTop($headerWidth: 340px);
    > .row > .columns {
      margin-top: 250px;
    }
    .image {
      margin-top: -247px;
      h2 {
        margin-bottom: 100px;
        margin-left: -70px;
      }
      span.bkg {
        bottom: 158px;
      }
    }
    &:before {
      bottom: auto;
      top: 100px;
    }
    &:after {
      display: none;
    }
  }
  section.mainNote {
    .content:before {
      display: none;
    }
    &:before {
      display: none;
    }
	.signatureLogo {
	  float: right;
	  margin-right: 100px;
	  max-width: 120px;
	}
    > .row > .columns {
      border-bottom-width: 1px;
    }
  }
  @include breakpoint(small only) {
	section.top	{
	  > .row > .columns {
		margin-top: 0;
	  }
	  .image {
		margin-top: 0;
		img {
		  margin: 0 auto;
		  display: block;
		}
		h2 {
		  margin-top: -100px;
		  margin-left: 0;
		}
	  }
	}
	section.mainNote {
	  > .row > .columns {
		border-top-width: 1px;
	  }
	  .signatureLogo {
		margin-right: 0px;
	  }
	}
  }
}

//  PAGE OFFER
#page-offer {
  section.top {
    @include sectionTop($headerWidth: 540px);
    > .row > .columns {
      margin-top: 320px;
    }
    .image {
      margin-top: -336px;
      h2 {
        margin-bottom: 100px;
        margin-right: -120px;
      }
      span.bkg {
        bottom: 171px;
      }
	  @include breakpoint(small only) {
		h2 {
		  margin: 0 0 2rem;
		}
	  }
    }
    &:before {
      bottom: auto;
      top: -80px;
    }
    &:after {
      display: none;
    }
  }
  section.packages {
    &:before {
      @include splat(-70deg);
      bottom: -150px;
      left: -320px;
    }
    &:after {
      @include splat(-70deg);
      top: -100px;
      right: -220px;
    }
    &.bottomPackages {
      > .row > .columns {
        border-bottom-width: 1px;
      }
    }
  }
  section.bottomPackages {
	margin-top: 60px;
  }
}

//  PAGE TRAINING
section.topNoteTraining {
  @include section($padding: 30px 0);
  &:before {
    @include splat(70deg);
    bottom: -50px;
    left: -220px;
  }
  h1 {
    text-align: left;
    letter-spacing: 4px;
	@include breakpoint(small only) {
	  font-size: 48px;
	  letter-spacing: 1px;
	  text-align: center;
	}
  }
  h5 {
    @extend h1;
    display: inline-block;
    padding-right: 15px;
    font-family: $headerFontDisplay;
    font-weight: 300;
    //border-top: 1px solid;
    margin-top: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
	@include breakpoint(small only) {
	  white-space: normal;
	  text-align: center;
	  line-height: 1.2;
	  padding: 20px 20px 0;
	  font-weight: 400;
	}
  }
  .content {
    p {
      @include text();
      &.smallText {
        font-size: 13px;
        line-height: 1.4;
      }
	  @include breakpoint(small only) {
		font-size: 14px;
		line-height: 1.5;
		text-align: center;
	  }
    }
    img {
      max-width: 90px;
    }
	@include breakpoint(small only) {
	  .fimg {
		margin-top: 50px;
	  }
	}
  }
}
#page-training {
  section.bottomNote {
    margin-bottom: 60px;
	margin-top: 30px;
    @include section($padding: 30px 0, $h4size: 32px);
    &:before {
      @include splat(-70deg);
      bottom: 50px;
      right: -220px;
    }
    > .row > .columns {
      border-bottom-width: 1px;
	  margin-top: -60px;
	  @include breakpoint(small only) {
		border-bottom-width: 0;
	  }
    }
    .content {
      p {
        @include text();
        text-align: center;
		@include breakpoint(small only) {
		  font-size: 14px;
		  line-height: 1.5;
		}
      }
    }
  }
  section.top {
    @include sectionTop($headerWidth: 730px);
    &:before {
      top: -80px;
      bottom: auto;
    }
    &:after {
      bottom: -50px;
      top: auto;
    }
  }
  @include breakpoint(small only) {
	section.top {
	  > .row > .columns {
		padding-bottom: 0;
	  }
	  .image {
		h2 {
		  white-space: normal;
		  margin-top: -180px;
		}
	  }
	}
  }
}

#page-contact {
  section.trialForm {
    margin-top: 0;
	padding-top: 100px;
    margin-bottom: 60px;
    > .row > .columns {
      border-bottom-width: 1px;
    }
    h4.top {
      font-size: 42px;
      letter-spacing: 17px;
	  @include breakpoint(small only) {
		font-size: 32px;
		letter-spacing: 2px;
		margin: 0;
	  }
    }
    &:before {
      @include splat(17deg);
      bottom: 0;
      left: -150px;
    }
    &:after {
      @include splat(-170deg);
      top: 0;
      right: -200px;
    }
	@include breakpoint(small only) {
	  margin-top: 40px;
	  margin-bottom: 0;
	  > .row > .columns {
	  }
	  .mainHead {

	  }
	}
  }
  p {
    text-align: center;
    @include text($size: 20px);
  }
}

section.textContent {
  @include section($padding: 60px 0);
  @include text($lineHeight: 1.6);
  > .row > .columns {
    border-bottom-width: 1px;
    margin-bottom: 60px;
  }
  h5 {
    @extend h4;
    text-align: left;
  }
  h1 {
    text-overflow: initial;
    overflow: visible;
    background: #fff;
    position: relative;
    z-index: 3;
    font-size: 48px;
    text-transform: none;
    &:first-letter {
      font-size: 120px;
      padding-top: 50px;
    }
    span {
      background-color: $white;
      padding: 10px 20px;
    }
  }
  .text {
    background-color: $white;
    padding: 30px;
  }
  @include breakpoint(small only) {
	> .row > .columns {
	  padding: 20px 0;
	  border-bottom: 0;
	  padding-bottom: 0;
	}
	h5 {
	  text-align: center;
	  padding: 0 20px;
	  font-weight: 400;
	}
	p {
	  text-align: center;
	  font-size: 14px;
	  line-height: 1.5;
	  padding: 0 2rem;
	}
  }
}
#page-therapy {
  section.top {
    @include sectionTop($headerWidth: 590px);
    > .row > .columns {
      margin-top: 250px;
    }
    .image {
      margin-top: -247px;
      h2 {
        margin-bottom: 90px;
        margin-left: -120px;
      }
      span.bkg {
        bottom: 161px;
      }
    }
    &:before {
      bottom: auto;
      top: -80px;
    }
    &:after {
      top: 160px;
      right: -200px;
    }
	@include breakpoint(small only) {
	  .image {
		h2 {
		  margin: 20px 0 0;
		}
	  }
	}
  }
  .image {
    &.firstImage {
      margin-top: -60px;
    }
  }
  h1 {
    margin-top: 60px;
    margin-left: 2rem;
    strong {
      font-weight: 500;
    }
    span {
      max-width: 800px;
      white-space: normal;
      line-height: 24px;
      font-size: 36px;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      margin-top: 36px;
      margin-right: -50px;
    }
	@include breakpoint(small only) {
	  padding: 0 2rem;
	  margin: 0 0 5rem;
	  span {
		font-size: 24px;
		margin: 1.5rem 4rem 0 0;
	  }
	} 
  }
  .secondText {
    margin-left: -7rem;
    margin-top: 90px;
	@include breakpoint(small only) {
	  margin: 0;
	  padding: 3rem 0;
	}
  }
  .textContent {
    &:before {
      @include splat(-200deg);
      top: 340px;
      left: -220px;
    }
    &:after {
      @include splat(-200deg);
      bottom: -200px;
      right: -200px;
    }
  }
}

#page-tennis {
  section.top {
    @include sectionTop($headerWidth: 650px);
    > .row > .columns {
      margin-top: 450px;
    }
    .image {
      margin-top: -537px;
      h2 {
        margin-bottom: 100px;
        margin-left: -120px;
      }
      span.bkg {
        bottom: 171px;
        margin-left: -190px;
        width: 550px;
      }
    }
    &:before {
      bottom: auto;
      top: -80px;
    }
    &:after {
      top: 160px;
      right: -200px;
    }
	@include breakpoint(small only) {
	  .image {
		h2 {
		  margin-top: -200px;
		  white-space: normal;
		  margin-left: 0;
		  margin-bottom: 150px;
		}
	  }
	}
  }
  .image {
    &.firstImage {
      margin-top: -60px;
    }
  }
  h1 {
    margin-top: 60px;
    margin-left: 2rem;
    strong {
      font-weight: 500;
    }
    span {
      max-width: 800px;
      white-space: normal;
      line-height: 24px;
      font-size: 24px;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      margin-top: 25px;
      margin-right: -50px;
    }
  }
  .secondText {
    margin-left: -7rem;
    margin-top: 90px;
  }
  .textContent {
    &:before {
      @include splat(-200deg);
      top: 340px;
      left: -220px;
    }
    &:after {
      @include splat(-200deg);
      bottom: -200px;
      right: -200px;
    }
  }
  @include breakpoint(small only) {
	h1 {
	  margin: 0 0 5rem;
	  padding: 0 1rem;
	  span {
		margin: 0;
		font-size: 18px;
		padding-right: 5rem;
	  }
	}
	.content {
	  h5 {
		display: block;
	  }
	}
	.secondText {
	  margin: 3rem 0;
	  padding: 0 1rem;
	}
  }
}
