<section class="top">
	<div class="row">
		<div class="large-12 columns">
			<div class="image">
				<img src="./img/aboutTop.png" alt="">
				<h2>About</h2>
				<span class="bkg"></span>
			</div>
		</div>
	</div>
</section>
<section class="mainNote">
	<div class="row">
		<div class="columns">
			<div class="content columns medium-8 end medium-offset-2">
				<p>As a tennis player on the national and international area for 13 years, I needed to create the body which would support my journey. But a trained body on its own is not enough to win a tennis match. I needed to condition my mind as well. This combination has resulted not just in winning a few dozen medals and trophies but primarily in revolutionizing my everyday life. Becoming the best version of myself made me feel powerful, attractive and strong. It made my life happier and more fulfilling.</p>
				<p>Now, through Vibez, I would like to share my knowledge and experience with all the women. I strongly believe that, no matter if you are a mum, a businesswoman, an athlete or a senior, you deserve the body that will support your life goals. With positive and successful attitude, you will release your maximum potential. My main mission is to help you feel addictively attractive, powerful and good.</p>
				<p>Join Vibez. You are all welcome.</p>
				<img src="./img/jsiwert.png" alt="" class="signatureLogo">
				<span class="clearfix"></span>
				<p class="margin-top-100 text-center">
					<img src="./img/vibezLogoBig.png" alt="">
				</p>
				<p>First-Class mobile Personal Training & Tennis Academy based in London.</p>
				<p>As a company, we have a mission to help you become the best version of yourself. We improve your body through specialised and tailored training programs ranging from mums through seniors  to world class Red Bull athletes. No matter what you do and what are your goals, Vibez adjusts to your specific requirements and busy lifestyle.</p>
				<p>V'Methodology is a combination of multiple disciplines. Supreme development program includes physical conditioning, sport psychology, physiotherapy and nutrition consulting. It's a unique blend of science, individualization and experience. Thanks to V'Methodology many women have achieved attractive, strong and vigorous bodies, which raised their everyday life’s quality to a higher level.</p>
				<p>Vibez top-class team includes Personal Trainers, Nutritionists, Sport Psychologist and Biomechanist. The team sees the bigger picture of you - it's more than just losing fat or gaining muscle mass. We identify and eliminate the overlooked causes - not just symptoms.</p>
				<p>Create the body you have always wanted and live fully.</p>
			</div>
		</div>
	</div>
</section>
