<section class="trialForm">
	<div class="row">
		<div class="columns">
			<h1 class="mainHead"><span>Contact</span></h1>
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="row">
					{{#if enquirySubmitted}}
						<h3 class="thanksC">Thanks for getting in touch.</h3>
					{{else}}
					{{/if}}
					<div class="columns medium-12 margin-top-80 margin-bottom-80">
						<p>07544708410</p>
						<p>vibez@london.co.uk</p>
					</div>
					<div class="columns medium-12">
						<h4 class="top">free trial session</h4>
					</div>
					<div class="columns medium-2 relative hide-for-small-only">
						<span class="now">now</span>
						<span>&nbsp;</span>
					</div>
					<div class="medium-4 columns margin-top-20">
						<div class="row">
							<div class="small-3 columns">
								<label for="name" class="text-right middle">Name</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="name.full" id="name" value="{{formData.[name.full]}}">
							</div>
							<span class="clearfix"></span>
							<div class="small-3 columns">
								<label for="phone" class="text-right middle">Phone</label>
							</div>
							<div class="small-9 columns">
								<input type="text" id="phone" value="{{formData.phone}}">
							</div>
						</div>
					</div>
					<div class="medium-4 columns end margin-top-20">
						<div class="row">
							<div class="small-3 columns">
								<label for="postcode" class="text-right middle">Postcode</label>
							</div>
							<div class="small-9 columns">
								<input type="text" name="postcode" id="postcode">
							</div>
							<span class="clearfix"></span>
							<div class="small-3 columns">
								<label for="email" class="text-right middle">Email</label>
							</div>
							<div class="small-9 columns">
								<input type="email" name="email" id="email" value="{{formData.email}}">
							</div>
						</div>
					</div>
					<span class="clearfix"></span>
					<div class="medium-7 medium-offset-3 columns">
						<textarea name="message" id="message" cols="30" rows="2" placeholder="how can we help">{{formData.message}}</textarea>
					</div>
					<span class="clearfix"></span>
					<div class="columns medium-offset-2 end medium-8">
						<h4 class="yesterday margin-top-20">yesterday you said tomorrow</h4>
					</div>
					<!--<div class="row">-->
					<div class="columns medium-8 medium-offset-2 end">
						<button class="sendButton button float-right hollow margin-top-20 margin-bottom-40">book</button>
					</div>
					<!--</div>-->
				</div>
			</form>
		</div>
	</div>
</section>


			<!--{{#if enquirySubmitted}}-->
			<!--<h3>Thanks for getting in touch.</h3>-->
			<!--{{else}}-->
			<!--<form method="post">-->
				<!--<input type="hidden" name="action" value="contact">-->
				<!--<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">-->
					<!--<label>Name</label>-->
					<!--<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">-->
				<!--</div>-->
				<!--<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">-->
					<!--<label>Email</label>-->
					<!--<input type="email" name="email" class="form-control" value="{{formData.email}}">-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label>Phone</label>-->
					<!--<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">-->
				<!--</div>-->
				<!--<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">-->
					<!--<label>What are you contacting us about?</label>-->
					<!--<select name="enquiryType" class="form-control">-->
						<!--<option value="">(select one)</option>-->
						<!--{{#each enquiryTypes}}-->
						<!--<option value="{{value}}">{{label}}</option>-->
						<!--{{/each}}-->
					<!--</select>-->
				<!--</div>-->
				<!--<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">-->
					<!--<label>Message</label>-->
					<!--<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>-->
				<!--</div>-->
				<!--<div class="form-actions">-->
					<!--<button type="submit" class="btn btn-primary">Send</button>-->
				<!--</div>-->
			<!--</form>-->
			<!--{{/if}}-->
