{{!< default}}
<section class="top">
	<div class="row">
		<div class="large-12 columns">
			<div class="image">
				<img src="./img/chick1.png" alt="">
			</div>
			<div class="slug">
				<h1>First Class</h1>
				<h4>Personal trainers</h4>
				<h5><span>London</span></h5>
				<ul>
					<li>Designed & Created for <strong>women's needs</strong></li>
					<li>We come to your <strong>home, park, workplace</strong></li>
					<li>Personalised training program and <strong>diet plan included</strong></li>
					<li><strong>From £33</strong> per 60 minutes sessions</li>
					<li>Interest free <strong>monthly installments</strong></li>
					<li><strong>V'Methodology</strong> guarantees physique improvement</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="trialForm">
	<video playsinline autoplay muted loop poster="" id="bgvid">
		<!--<source src="polina.webm" type="video/webm">-->
		<source src="/img/kalina_web.mp4" type="video/mp4">
	</video>
	<div class="row">
		<div class="columns">
			<div class="mHead">
				<div class="stB"></div>
				<h1 class="mainHead"><span>free trial session</span></h1>
				<div class="stE"></div>
			</div>
			<form method="post">
				<input type="hidden" name="action" value="contact">
				{{#if enquirySubmitted}}
					<h3 class="thanksC">Thanks for getting in touch.</h3>
				{{else}}
				{{/if}}
				<div class="row">
					<div class="columns medium-2 relative splatCol hide-for-small-only">
						<span class="now">now</span>
						<span>&nbsp;</span>
					</div>
					<div class="medium-4 columns formCol">
						<div class="row">
							<div class="small-4 medium-3 columns">
								<label for="name" class="text-right middle">Name</label>
							</div>
							<div class="small-8 medium-9 columns">
								<input type="text" name="name.full" id="name" value="{{formData.[name.full]}}">
							</div>
							<span class="clearfix"></span>
							<div class="small-4 medium-3 columns">
								<label for="phone" class="text-right middle">Phone</label>
							</div>
							<div class="small-8 medium-9 columns">
								<input type="text" id="phone" value="{{formData.phone}}">
							</div>
						</div>
					</div>
					<div class="medium-4 columns end formCol">
						<div class="row">
							<div class="small-4 medium-3 columns">
								<label for="postcode" class="text-right middle">Postcode</label>
							</div>
							<div class="small-8 medium-9 columns">
								<input type="text" name="postcode" id="postcode">
							</div>
							<span class="clearfix"></span>
							<div class="small-4 medium-3 columns">
								<label for="email" class="text-right middle">Email</label>
							</div>
							<div class="small-8 medium-9 columns">
								<input type="email" name="email" id="email" value="{{formData.email}}">
							</div>
						</div>
					</div>
					<span class="clearfix"></span>
					<div class="columns medium-offset-2 end medium-8">
						<h4 class="yesterday margin-top-20">yesterday you said tomorrow</h4>
					</div>
					<!--<div class="row">-->
					<div class="columns medium-8 medium-offset-2 end bookLine">
						<button class="sendButton button float-right hollow margin-top-20 margin-bottom-10">book</button>
					</div>
					<!--</div>-->
				</div>
			</form>
			<div class="row text-center pointHead">
				<h5>Train anywhere at your convinience</h5>
				<span>Home</span><span>Park</span><span>Workplace</span>
				<h5 class="show-only-for-small bot">All London Areas</h5>
			</div>
		</div>
	</div>
</section>

<section class="mainNote">
	<div class="row">
		<div class="columns">
			<h1>Create the body <br>you have ever wanted</h1>
			<h4 class="hide-for-small-only">feel attractive, powerfull and addictivelly good</h4>
			<div class="content columns medium-10 end medium-offset-1">
				<p>Vibez was founded by a professional tennis player and fitness expert, Julia Vibez. Our top-class team includes Personal Trainers, Nutritionists, Sport Psychologist and Biomechanist. V'Methodology improves human bodies through specialised and tailored training programs ranging from mums through seniors to world class Red Bull athletes.</p>
				<!--<p>First - Class mobile Personal Trainng & Tennis Academy founded by professional tennis player and fitness expert - <span class="nowrap">Julia Siwert</span>. Top - class team includes Personal Trainers, Nutritionists, Sport Psychologist and Biomechanist. Elite trainers operate in all London areas.</p>-->
				<!--<p>VIBEZ SYSTEM is a unique blend of science, individualization and experience. V'system improves and transforms human body quickly, visibly and lastingly.-->
					<!--<br> <button class="button hollow margin-top-10 moreButton" data-open="discMore">DISCOVER MORE</button>-->
				<!--</p>-->
				<!--<div class="hide" data-toggler=".hide">-->
					<!--<p>It is a unique blend of science, individualization and experience. V'System visibly reinforces, improves and totally changes human body. Moreover it sets up a successful attitude which is crucial for long term results.</p>-->
					<!--<p>Supreme development program includes physical conditioning, sport psychology, physiotherapy and nutrition consulting. Each improvement plan is personalized to suit individual requirements.</p>-->
				<!--</div>-->
				<!--<p>Vibez Company cooperates with world class athletes sponsored by companies like Red Bull and Vans and has a proven track record in physique improvement.</p>-->
				<img src="./img/jsiwert.png" alt="" class="float-right margin-right-100 signature">
			</div>
			<img src="./img/bodytransSmall.png" alt="" class="show-for-small-only">
			<a href="#" class="block text-center show-for-small-only text-uppercase testim"><i class="fa fa-play-circle"></i> Click to watch testimonials</a>
		</div>
	</div>
</section>
<div class="reveal large" id="discMore" data-reveal>
	<button class="close-button" data-close aria-label="Close reveal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
	<section class="topNoteTraining">
		<div class="row">
			<div class="columns content">
				<div class="columns medium-7">
					<h1>V'System</h1>
					<h5>created to develop attractive, <br>strong and vigorous body. </h5>
					<p class="margin-top-60">It is a unique blend of science, individualization and experience. V'System visibly reinforces, improves and totally changes human body. Moreover it sets up a successful attitude which is crucial for long term results. </p>
					<p>Supreme development program includes physical conditioning, sport psychology, physiotherapy and nutrition consulting. Each improvement plan is personalized to suit individual requirements. </p>
				</div>
				<div class="columns medium-4 text-center end medium-offset-1">
					<img src="./img/trainingIco2.png" alt="">
					<p class="smallText">EXPERIENCE<br>13 yeras of experience guarantees a skillful release of your maximum body and mind potential.</p>
					<img src="./img/trainingIco3.png" alt="">
					<p class="smallText">SCIENTIFIC APPROACH<br>Vibez Program is  based on the latest scientific research.</p>
					<img src="./img/trainingIco1.png" alt="">
					<p class="smallText">RESULTS<br>We make change happen. Transform your body quickly, visibly and lastingly.</p>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="bodyTransformations hide-for-small-only">
	<div class="row">
		<div class="columns">&nbsp;</div>
	</div>
</section>

<section class="testimonials hide-for-small-only">
	<div class="row">
		<div class="columns">
			<div class="medium-10 columns medium-offset-1">
				<div class="special"><a href="#" class=""><i class="fa fa-play"></i> click to watch testimonials</a></div>
				<span class="clearfix"></span>
				<div class="medium-4 columns">
					<div class="person">
						<img src="./img/tm1.jpg" alt="">
						<p>I lost 55lb and finally I can squeeze into my pre-baby jeans! Life as a mum of 4 is very busy but Vibez helped me adjust training sessions to my tight schedule. Thank you Vibez for making me yummy mummy!<br>Hannah K.</p>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="person second">
						<img src="./img/tm2.jpg" alt="">
						<p>My diary before wedding was extremely busy and chaotic so I didn’t have any more time to lose on experimenting. Thanks for V' Method I lost  7kg in 4 weeks which definitely helped ease the stress before my big day. No comments needed - they made change happen.  <br> Katie B.</p>
					</div>
				</div>
				<div class="medium-4 columns">
					<div class="person">
						<img src="./img/tm3.jpg" alt="">
						<p>After so many New Years' attempts to get fit, I've finally found an effective and enjoyable way to transform my body. With Vibez I lost 5 inches in waist in 2 months. Finally I feel attractive and confident in my bikini.<br> Miley S.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="recomendations show-for-small-only">
	<div class="row">
		<div class="columns">
			<i class="fa fa-hand-o-right pull-right fa-lg margin-right-30" aria-hidden="true"></i>
			<span class="clearfix"></span>
			<div class="recomendations-slides owl-carousel">
				<div class="single-recomendation">
					<img src="./img/tm1.jpg" alt="">
					<p><strong>I lost 24kg</strong>  and finally I can squeeze into my pre-baby jeans! Life as a mum of 4 is very busy but Vibez helped me adjust trainings sessions to my permit schedule. <strong>Thank you Vibez for making me yummy mummy!</strong><br> - Hannah K.</p>
				</div>
				<div class="single-recomendation">
					<img src="./img/tm2.jpg" alt="">
					<p>My diary before wedding was extremly busy and chaotic so I couldnt loose more time and effort for experimenting. <strong>Thanks for V'Methodology I lost 8kg in 4 weeks</strong> and  got rid of stress before my big day. No comments needed - they made change happend.<br> Katie B.</p>
				</div>
				<div class="single-recomendation">
					<img src="./img/tm3.jpg" alt="">
					<p>After so many new years' attempts to get fit, I've finally found an effective and enjoyable way to transform my body. <strong>With Vibez I lost 12cm in waist in 2 months</strong>. Finally I feel attractive and confident in my bikini.<br> Miley S.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--<section class="steps">-->
	<!--<div class="row">-->
		<!--<div class="columns">-->
			<!--<h1>transform your body with 3 easy steps</h1>-->
			<!--<div class="row">-->
				<!--<div class="columns medium-12 end">-->
					<!--<div class="row margin-top-60 margin-bottom-60">-->
						<!--<div class="columns small-10 medium-12">-->
							<!--<div class="row">-->
								<!--<div class="columns medium-4 text-center splatCol">-->
									<!--<div class="number number-1">-->
										<!--<h1>1</h1>-->
										<!--<div>Book free <br>trial session <br>& consultation</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="columns medium-4 text-center splatCol">-->
									<!--<div class="number">-->
										<!--<h1>2</h1>-->
										<!--<div>Meet your<br>Dedicated <br>Personal Trainer </div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="columns medium-4 text-center splatCol">-->
									<!--<div class="number">-->
										<!--<h1>3</h1>-->
										<!--<div>Start the <br>Transformation <br>Process</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="columns small-2 show-for-small-only bookLine">-->
							<!--&nbsp;-->
							<!--<button class="sendButton button hollow">book</button>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->

<!--<section class="show-for-small-only trust">-->
	<!--<div class="row">-->
		<!--<div class="columns">-->
			<!--<h1>Why people trust us</h1>-->
			<!--<p>First-Class mobile Personal Training & Tennis Academy founded by professional tennis player and fitness expert - Julia Siwert. Top -class team includes Personal Trainers, Nutritionists, Sport, Psychologist and Biomechanics. Elite trainers operate in all London areas.</p>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->

<section class="trainers">
	<div class="row">
		<div class="columns">
			<h1>world class trainers</h1>
			<!--<p class="slug hide-for-small-only">-->
				<!--To join "Vibez Team" each Personal Trainer have to go through a very rigorous and detailed selection process, which ensures that you will be working with only professional trainers.-->
			<!--</p>-->
			<div class="row hide-for-small-only">
				<div class="columns medium-3">
					<div class="trainer">
						<img src="./img/tr2.jpg" alt="">
						<h3>Adam</h3>
						<h5>Former Tennis Player</h5>
						<h5 class="listHead">Specialism</h5>
						<ul>
							<li><i class="fa fa-circle"></i> Body transformation</li>
							<li><i class="fa fa-circle"></i> Nutrition</li>
							<li><i class="fa fa-circle"></i> Conditioning</li>
						</ul>
					</div>
				</div>
				<div class="columns medium-3">
					<div class="trainer">
						<img src="./img/tr1.jpg" alt="">
						<h3>Angelo</h3>
						<h5>Former Fighter</h5>
						<h5 class="listHead">Specialism</h5>
						<ul>
							<li><i class="fa fa-circle"></i> Weight loss</li>
							<li><i class="fa fa-circle"></i> Body toning</li>
							<li><i class="fa fa-circle"></i> Boxing</li>
						</ul>
					</div>
				</div>
				<div class="columns medium-3">
					<div class="trainer">
						<img src="./img/tr3.jpg" alt="">
						<h3>Gery</h3>
						<h5>Physiotherapist</h5>
						<h5 class="listHead">Specialism</h5>
						<ul>
							<li><i class="fa fa-circle"></i> Toning up</li>
							<li><i class="fa fa-circle"></i> Weight loss</li>
							<li><i class="fa fa-circle"></i> Injury rehab</li>
						</ul>
					</div>
				</div>
				<div class="columns medium-3">
					<div class="trainer">
						<img src="./img/tr4.jpg" alt="">
						<h3>Michael</h3>
						<h5>Former Powerlifter</h5>
						<h5 class="listHead">Specialism</h5>
						<ul>
							<li><i class="fa fa-circle"></i> Body transformation</li>
							<li><i class="fa fa-circle"></i> Strength Building</li>
							<li><i class="fa fa-circle"></i> Mobility</li>
						</ul>
					</div>
				</div>
			</div>
			<i class="fa fa-hand-o-right pull-right show-for-small-only fa-lg margin-right-30 margin-bottom-30" aria-hidden="true"></i>
			<span class="clearfix"></span>
			<div class="show-for-small-only owlslider owl-carousel">
				<div class="trainer">
					<img src="./img/tr2.jpg" alt="">
					<h3>Adam</h3>
					<h5>Former Tennis Player</h5>
					<h5 class="listHead">Specialism</h5>
					<ul>
						<li><i class="fa fa-circle"></i> Body transformation</li>
						<li><i class="fa fa-circle"></i> Nutrition</li>
						<li><i class="fa fa-circle"></i> Conditioning</li>
					</ul>
				</div>
				<div class="trainer">
					<img src="./img/tr1.jpg" alt="">
					<h3>Angelo</h3>
					<h5>Former Fighter</h5>
					<h5 class="listHead">Specialism</h5>
					<ul>
						<li><i class="fa fa-circle"></i> Weight loss</li>
						<li><i class="fa fa-circle"></i> Body toning</li>
						<li><i class="fa fa-circle"></i> Boxing</li>
					</ul>
				</div>
				<div class="trainer">
					<img src="./img/tr3.jpg" alt="">
					<h3>Gery</h3>
					<h5>Physiotherapist</h5>
					<h5 class="listHead">Specialism</h5>
					<ul>
						<li><i class="fa fa-circle"></i> Toning up</li>
						<li><i class="fa fa-circle"></i> Weight loss</li>
						<li><i class="fa fa-circle"></i> Injury rehab</li>
					</ul>
				</div>
				<div class="trainer">
					<img src="./img/tr4.jpg" alt="">
					<h3>Michael</h3>
					<h5>Former Powerlifter</h5>
					<h5 class="listHead">Specialism</h5>
					<ul>
						<li><i class="fa fa-circle"></i> Body transformation</li>
						<li><i class="fa fa-circle"></i> Strength Building</li>
						<li><i class="fa fa-circle"></i> Mobility</li>
					</ul>
				</div>
			</div>
			<h5 class="show-for-small-only trare">Vibez Trainers Are:</h5>
			<div class="slugs">
				<h5>Highly qualified, holding at least REPs level 3 or other strong qualifications</h5>
				<h5>Able to skillfully integrate mind and body work to release your unique potential</h5>
				<h5>Experts on fitness and nutrition</h5>
				<h5>Extensively experienced</h5>
				<h5>Fully insured</h5>
			</div>
		</div>
	</div>
</section>


<!--<section class="packages hide-for-small-only">-->
	<!--<div class="row">-->
		<!--<div class="columns">-->
			<!--<h5 class="spec margin-top-50 margin-bottom-50 topheader">Achieve your specific goals in an individual way</h5>-->
			<!--<div class="row">-->
				<!--<div class="columns medium-10 medium-offset-1 packs">-->
					<!--<img src="./img/pac-fitwoman.png" alt="">-->
					<!--<img src="./img/pac-mother.png" alt="">-->
					<!--<img src="./img/pac-senior.png" alt="">-->
					<!--<img src="./img/pac-athlete.png" alt="">-->
				<!--</div>-->
			<!--</div>-->
			<!--<h5 class="margin-top-50 spec margin-bottom-50 bottomheader">You are all welcome</h5>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->
<section class="inclusivePack">
	<div class="row">
		<div class="columns">
			<h5>Take advantage of</h5>
			<h1 class="margin-bottom-10">all inclusive packages</h1>
			<!--<div class="stars text-center margin-bottom-10"><img src="./img/stars.png" alt=""></div>-->
			<div class="row margin-bottom-10">
				<div class="columns medium-4 medium-offset-2 small-10 small-offset-1">
					<ul class="ulleft">
						<li>Customized diet plan</li>
						<li>Personalised training program</li>
						<li>Body composition analysis</li>
					</ul>
				</div>
				<div class="columns medium-4 medium-offset-1 small-10 small-offset-1 end">
					<ul class="ulright">
						<li>Regular track of your progress</li>
						<li>Health, fitness, lifestyle assesment</li>
						<li>24/7 support</li>
					</ul>
				</div>
			</div>
			<!--<div class="row text-center pointHead hide-for-small-only">-->
				<!--<span>Home</span><span>Park</span><span>Gym</span>-->
			<!--</div>-->
			<!--<h2 class="hide-for-small-only">Interest free monthly payments</h2>-->
			<!--<h2 class="show-for-small-only">Interest free<br>monthly payments</h2>-->
		</div>
	</div>
</section>

<section class="packages secondPackages">
	<div class="row">
		<div class="columns">
			<div class="row">
				<div class="columns small-12">
					<!--<h1>packages</h1>-->
					<!--<h5 class="show-for-small-only sub">that suit your lifestyle</h5>-->
					<!--<div class="labelBig show-for-small-only">-->
						<!--Interest Free<br>-->
						<!--Monthly Payments-->
					<!--</div>-->
				</div>
				<div class="columns medium-10 medium-offset-1 end">
					<div class="row">
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Energise Yourself</header>
								<article>
									<span>£44</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>12</em> sessions</small>
								</article>
							</div>
						</div>
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Refresh Your Look</header>
								<article>
									<span>£40</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>24</em> sessions</small>
								</article>
							</div>
						</div>
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Transform Your Body</header>
								<article>
									<span>£36</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>40</em> sessions</small>
								</article>
							</div>
						</div>
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Revolutionize Your Body</header>
								<article>
									<span>£33</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>80</em> sessions</small>
								</article>
							</div>
						</div>
					</div>
					<!--<h5 class="sub hide-for-small-only">Achieve your specific goals through proven and effective V'Methodology <br> SCIENCE + PERSONALIZATION + EXPERIENCE</h5>-->
				</div>
			</div>
		</div>
		<div class="columns text-center">
			<h4><span>Interest free monthly payments</span></h4>
			<div class="columns end bookLine">
				<button class="sendButton button float-right hollow margin-top-20 margin-bottom-10" scroll-link href=".trialForm">book now</button>
			</div>
		</div>
	</div>
</section>

<section class="colage hide-for-small-only">
	<img src="./img/colage.png" alt="">
	<div class="slug">
		<h4>Feel addictively</h4>
		<h1>Powerful</h1>
	</div>
</section>
