<section class="top">
	<div class="row">
		<div class="large-12 columns">
			<div class="image">
				<h2>Packages</h2>
				<img src="./img/offer.png" alt="">
				<span class="bkg"></span>
			</div>
		</div>
	</div>
</section>
<section class="packages">
	<div class="row">
		<div class="columns">
			<div class="row">
				<div class="columns medium-10 medium-offset-1 end">
					<div class="row">
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Energise Yourself</header>
								<article>
									<span>£44</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>12</em> sessions</small>
								</article>
							</div>
						</div>
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Refresh Your Look</header>
								<article>
									<span>£40</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>24</em> sessions</small>
								</article>
							</div>
						</div>
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Transform Your Body</header>
								<article>
									<span>£36</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>40</em> sessions</small>
								</article>
							</div>
						</div>
						<div class="columns text-center medium-3">
							<div class="pack">
								<header>Revolutionize Your Body</header>
								<article>
									<span>£33</span>
									<strong>block</strong>
									<span>of</span>
									<small><em>80</em> sessions</small>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="inclusivePack">
	<div class="row">
		<div class="columns">
			<h5>Take advantage of</h5>
			<h1 class="margin-bottom-10">all inclusive packages</h1>
			<!--<div class="stars text-center margin-bottom-10"><img src="./img/stars.png" alt=""></div>-->
			<div class="row margin-bottom-10">
				<div class="columns medium-4 medium-offset-2">
					<ul class="ulleft">
						<li>Customized diet plan</li>
						<li>Personalised training program</li>
						<li>Body composition analysis</li>
					</ul>
				</div>
				<div class="columns medium-4 medium-offset-1 end">
					<ul class="ulright">
						<li>Regular track of your progress</li>
						<li>Health, fitness, lifestyle assesment</li>
						<li>24/7 support</li>
					</ul>
				</div>
			</div>
			<h2>Interest free monthly payments</h2>
		</div>
	</div>
</section>
<section class="packages bottomPackages">
	<div class="row">
		<div class="columns">
			<h5 class="spec margin-top-50 margin-bottom-50 topheader">Achieve your specific goals in an individual way</h5>
			<div class="row">
				<div class="columns medium-10 medium-offset-1 packs">
					<img src="./img/pac-athlete.png" alt="">
					<img src="./img/pac-fitwoman.png" alt="">
					<img src="./img/pac-mother.png" alt="">
					<img src="./img/pac-senior.png" alt="">
				</div>
			</div>
			<h5 class="margin-top-50 spec margin-bottom-50 bottomheader">You are all welcome</h5>
		</div>
	</div>
</section>
