<section class="top">
	<div class="row">
		<div class="large-12 columns">
			<div class="image">
				<img src="./img/tennis1.png" alt="">
				<h2>Tennis Academy</h2>
				<span class="bkg"></span>
			</div>
		</div>
	</div>
</section>
<section class="textContent">
	<div class="row">
		<div class="columns content">
			<div class="row">
				<div class="columns medium-offset-1 medium-5">
					<h5>Vibez PHILOSOPHY</h5>
					<p>World - class performance program is the combination of multiple disciplines. It's a unique blend of science, individualization and experience.</p>
				</div>
			</div>
			<div class="row">
				<div class="columns medium-6">
					<h1>
						<strong>V</strong>
						<span>ibez Academy aims to release the maximum of each player's potential in natural and scientific way.</span>
					</h1>
				</div>
				<div class="columns medium-6 end">
					<div class="image firstImage">
						<img src="./img/tennis2.png" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns medium-offset-2 medium-10 margin-top-50 margin-bottom-50">
					<h5 class="inline">Vibez PROGRAM</h5><p>Vibez Academy provides both on - court and off - court development. The program includes physical conditioning, sport psychology, physiotherapy and nutrition consulting. Each improvement plan is personalized to suit individual requirements.</p>
				</div>
			</div>
			<div class="row">
				<div class="columns medium-offset-1 medium-6">
					<div class="image">
						<img src="./img/tennis3.png" alt="">
					</div>
				</div>
				<div class="medium-5 columns">
					<div class="text secondText">
						<h5>Vibez TEAM</h5>
						<p>Vibez team includes tennis coaches, personal trainers, biomechanics, nutritionists and sport psychologists. Such cooperation allows for providing a proper consultation, training program and support to help develop maximum of your tennis skills.Vibez professionals have a proven track record in taking tennis players to higher levels.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
