<section class="top">
	<div class="row">
		<div class="large-12 columns">
			<div class="image">
				<img src="./img/therapy1.png" alt="">
				<h2>Mobility</h2>
				<span class="bkg"></span>
			</div>
		</div>
	</div>
</section>
<section class="textContent">
	<div class="row">
		<div class="columns content">
			<div class="row">
				<div class="columns medium-offset-1 medium-5">
					<h5>RELEASEMENT APPROACH</h5>
					<p>Mobility Training was designed to free your body from dysfunctions and improve your body movement to perfection. It increases the range of motion while improving your performance in other activities. Moreover it maximises strength gain and reduces the risk of injuries. </p>
				</div>
			</div>
			<div class="row">
				<div class="columns medium-6">
					<h1><strong>M</strong><span>ove freely without pain and injuries</span></h1>
				</div>
				<div class="columns medium-6 end">
					<div class="image firstImage">
						<img src="./img/therapy2.png" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns medium-offset-2 medium-10 margin-top-50 margin-bottom-50">
					<h5>PAIN RELIEF</h5><p>Mobility Trainings can be beneficial if you suffer from common conditions such as lower back or knee pain and some forms of arthritis. It's created accordingly to your specific issues and needs.</p>
				</div>
			</div>
			<div class="row">
				<div class="columns medium-offset-1 medium-6">
					<div class="image">
						<img src="./img/therapy3.png" alt="">
					</div>
				</div>
				<div class="medium-5 columns">
					<div class="text secondText">
						<h5>IT MATTERS</h5>
						<p>Establishing the right quality of movement is important, because it controls your entire body motion and affects your energy and physical resources.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
