<section class="top">
	<div class="row">
		<div class="large-12 columns">
			<div class="image">
				<img src="./img/trainingTop.png" alt="">
				<h2>V'Methodology</h2>
				<span class="bkg"></span>
			</div>
		</div>
	</div>
</section>
<section class="topNoteTraining">
	<div class="row">
		<div class="columns content">
			<div class="columns medium-5 end medium-offset-1">
				<!--<h1>V'System</h1>-->
				<h5>created to develop attractive, <br>strong and vigorous body. </h5>
				<p class="margin-top-30">It is a unique blend of science, individualization and experience. V'System visibly reinforces, improves and totally changes human body. Moreover it sets up a successful attitude which is crucial for long term results. </p>
				<p>Supreme development program includes physical conditioning, sport psychology, physiotherapy and nutrition consulting. Each improvement plan is personalized to suit individual requirements. </p>
			</div>
			<div class="columns medium-3 text-center end medium-offset-2">
				<img src="./img/trainingIco2.png" alt="" class="fimg">
				<p class="smallText"><strong>EXPERIENCE</strong><br>13 yeras of experience guarantees a skillful release of your maximum body and mind potential.</p>
				<img src="./img/trainingIco3.png" alt="">
				<p class="smallText"><strong>SCIENTIFIC APPROACH</strong><br>Vibez Program is  based on the latest scientific research.</p>
				<img src="./img/trainingIco1.png" alt="">
				<p class="smallText"><strong>RESULTS</strong><br>We make change happen. Transform your body quickly, visibly and lastingly.</p>
			</div>
		</div>
	</div>
</section>

<section class="inclusivePack">
	<div class="row">
		<div class="columns">
			<h5>Take advantage of</h5>
			<h1 class="margin-bottom-10">all inclusive packages</h1>
			<!--<div class="stars text-center margin-bottom-10"><img src="./img/stars.png" alt=""></div>-->
			<div class="row margin-bottom-10">
				<div class="columns medium-4 medium-offset-2">
					<ul class="ulleft">
						<li>Customized diet plan</li>
						<li>Personalised training program</li>
						<li>Body composition analysis</li>
					</ul>
				</div>
				<div class="columns medium-4 medium-offset-1 end">
					<ul class="ulright">
						<li>Regular track of your progress</li>
						<li>Health, fitness, lifestyle assesment</li>
						<li>24/7 support</li>
					</ul>
				</div>
			</div>
			<!--<h2>Interest free monthly payments</h2>-->
		</div>
	</div>
</section>

<section class="bottomNote">
	<div class="row">
		<div class="columns">
			<div class="content columns medium-10 end medium-offset-1 text-center">
				<img src="./img/trainingBottom.png" alt="" class="margin-top-30 margin-bottom-100">
				<h4>IMPROVEMENT CERTAINTY</h4>
				<p class="margin-top-10">Improvement Certainty. Throughout the whole process you will work only with certificated and experienced professionals. Your dedicated personal trainer will come to you wherever and whenever you require. Vibez team guarantees its dedication, support and perseverance in improving your physique.</p>
			</div>
		</div>
	</div>
</section>
